.inputForm {
  width: 85%;
  height: 49px;
  border-radius: 37px;
}

.inputForm input {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 37px;
  background-color: #f8fcfc;
  padding: 19px 38px 19px 38px;
  font-family: inherit;
  color: #5a5555;
  font-weight: bold;
  font-size: 18px;
  filter: drop-shadow(0px 3px 20px rgba(0, 0, 0, 0.16));
  box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.inputForm input:focus {
  outline: none;
  background-color: #e8f0fe;
}

.errorText {
  color: #b40e0e;
}

.inputForm input:-webkit-autofill,
.inputForm input:-webkit-autofill:hover,
.inputForm input:-webkit-autofill:focus,
.inputForm input:-webkit-autofill:active {
  -webkit-text-fill-color: #5a5555;
}

::placeholder {
  color: rgba(90, 85, 85, 0.35);
  opacity: 1;
}
