.button {
  height: 25px;
  border-radius: 10px;
  background-color: #2e6582;
  color: #e9ecec;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 0.7rem;
  font-weight: 700;
  transition: 0.4s;
}

.button:hover {
  transform: scale(0.9);
  cursor: pointer;
}
